<!DOCTYPE html>
<html lang="en">
  <head>
  	
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>Document</title>
  </head>
  <body>
	{{ msg11|safe }}
<script>
    //var msg11 = "{{ msg11 }}";
    //alert("hello:"+msg11);
</script>
 	<table>
  	  <tr>
  	    {% for header in headings %}
  	    	<th>{{ header }}</th>
  	    {% endfor %}
  	  </tr>
  	  {% for row in data %}
  	  <tr>
  	    {% for cell in row.values() %}
  	    	<td>{{ cell }}</td>
  	    {% endfor %}
  	  </tr>
  	  {% endfor %}
  	</table>
  </body>
</html>
